
<div class="row" >
    <div class="col-lg-4 col-md-6 icon-box" *ngFor="let z of TDI">
        <div class="icon"><i class="{{z.icon}}"></i></div>
        <h4 class="title"><a href="">{{z.title}}</a></h4>
        <p class="description">{{z.description}}</p>
    </div>
</div>






















<!-- <div *ngFor="let i of data"  class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{i.website}}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the first item's accordion body.</strong><br>
          {{i.address}}
        </div>
      </div>
    </div>
  </div>

<ul>
     <li *ngFor="let x of data">{{x.name}}</li></li>*ngFor="let karin of data"  this is "Angular"(Structural Directive)
</ul> -->
<!-- 
<button  class="btn btn-primary" *ngFor="let i of data" >{{i.name | lowercase}}</button>
<select>
    <option *ngFor="let y of data">{{y.email}}</option>
</select>
<ul class="list-group">
    <li class="list-group-item" align="center" *ngFor="let z of JDA">{{z.username | uppercase}}</li>
</ul>
 --> 
